@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-300.ttf");
  font-weight: 300;
  font-display: swap;
}

:root {

  --ui-color-highlight: #689d6a;
  --ui-color-background: #282828;
  --ui-color-typography-heading: #fbf1c7;
  --ui-color-typography-body: #ebdbb2;
  --ui-typography-typeface: "Roboto", sans-serif;
  --ui-typography-typeface-h1: 'Comfortaa', sans-serif;


  --ui-color-100: #fbf1c7;
  --ui-color-200: #ada284;
  --ui-color-300: #676150;
  --ui-color-400: #2f2f25;

  /* FONT SIZE */

  --ui-typography-h1: 3.5rem;
  --ui-typography-p : 1.5rem;

  /* LEADING */

  --ui-typography-h1-leading: 1.2;
  --ui-typography-p-leading : 1.5;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--ui-color-background);
  font-family: var(--ui-typography-typeface);
  font-feature-settings: 'liga', 'kern';
  font-size: var(--ui-typography-p);
  font-weight: 300;
  line-height: var(--ui-typography-p-leading);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  width: 100vw;
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main.webp {
  background-image: url(background.webp);
}

main.no-webp {
  background-image: url(background.jpg);
}

main::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #2E2E2EDD;
}

.cogno {
  font-family: var(--ui-typography-typeface-h1);
}

section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 15vh;
  padding: 0 1.5rem;
}

h1 {
  font-size: var(--ui-typography-h1);
  line-height: var(--ui-typography-h1-leading);
  font-family: var(--ui-typography-typeface-h1);
  color: var(--ui-color-typography-heading);
  margin: 0;
  display: block;
}

.avoid-wrap {
  display:inline-block;
}

p {
  margin: 0;
  font-size: var(--ui-typography-p);
  line-height: var(--ui-typography-p-leading);
  font-family: var(--ui-typography-typeface);
  color: var(--ui-color-typography-body);
}

a {
  color: var(--ui-color-highlight);
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3c3836;
  width: 100vw;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem 0;
}

nav a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 48rem) {
  :root {

    /* FONT SIZE */

    --ui-typography-h1: 4rem;
    --ui-typography-p : 2rem;

  }
}

@media screen and (min-width: 100rem) {
  :root {

    /* FONT SIZE */

    --ui-typography-h1: 5.5rem;
    --ui-typography-p : 3rem;

  }
}

@media screen and (min-width: 140rem) {
  :root {

    /* FONT SIZE */

    --ui-typography-h1: 7.5rem;
    --ui-typography-p : 3.5rem;

  }
}
